---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Nuestra Misión"
	description="Nuestra visión de la educación y nuestra misión sobre ella"
	pubDate={new Date('August 08 2021')}
	heroImage="/colegio-actividades-5.jpg"
>
	<div class="banner-imagen" style="padding: 0% 5%;">
		<h2 >Nuestra misión, Como institución Educativa</h2><hr>
		<img src="/colegio-actividades-5.jpg"alt="Escuela Colonia alfalfares, |">
	</div>
	<div style="text-align: justify; padding:2% 10%;">
		
		<div>
			<p>
				Ser una escuela autónoma, que entregue una formación preventiva de forma
				integral a todos los niños y niñas, en un ambiente educativo de inclusión que fomente
				el aprendizaje y desarrollo continuo de destrezas, habilidades y competencias que les
				permitan insertarse de manera óptima al mundo moderno globalizado, siendo personas
				responsables, respetuosas y solidarias.
				Estos criterios educativos se manifiestan a través de aptitudes y valores
				relevantes y pertinentes que les permita:
				<ul>
					<li>	
						<p>
							a) El desarrollo de capacidades y la voluntad para autorregular su conducta,
							formada en función de su trascendencia, su vocación por la verdad, la justicia,
							el espíritu de servicio y el respeto por el otro.
						</p>	
					</li>
					<li>
						<p>
							b) Estimular rasgos y cualidades que conformen y afirmen su identidad personal y
							favorezca su equilibrio emocional y social.
						</p>
					</li>
					<li>
						<p>	c) Favorecer una calidad de interacción personal y familiar regida por el respeto
							mutuo, el ejercicio de una ciudadanía activa y la valoración de la identidad
							nacional y la convivencia democrática.
						</p>
					</li>
					<li>
						<p>
							 d) Desarrollarse como persona social, responsable y que sea capaz de valorarse y
							pensar creativamente.
						</p>
					</li>
					<li>
						<p>
							e) Integrar en un futuro cercano en su quehacer cotidiano la propuesta pedagógica
							del constructivismo. 
							Proyecto Educativo Institucional Escuela de Colonia Alfalfares
							14
						</p>
					</li>
					<li>
						<p>	
							f) Recibir aprendizajes de calidad, pertinente, eficiente y eficaz.
						</p>
					</li>
				</ul>
			
			</p>
		</div>
		<div style="column-count: 2;">

		</div>
		<h5>MISIÓN:</h5>
		<p>
			Lograr aprendizajes significativos en todos los estudiantes, que les sirvan para
			la vida y para ejercer su vocación de ser, con una formación preventiva y cultivando
			los valores de respeto, responsabilidad y solidaridad, con docentes y apoderados
			comprometidos.
			Con esta misión queremos lograr una formación integral de todos nuestros niños
			y niñas, lo que conlleva a mejorar su calidad de vida, la de su familia y la de su entorno,
			es tarea de cada uno lograr la misión, alumnos, docentes, padres y apoderados.
		</p>
		<h5>IDENTIDAD:</h5>
		<p>
			Escuela de Colonia Alfalfares imparte una educación integral con énfasis en lo
			preventivo.
			Los esfuerzos humanos son dirigidos a evitar la aparición del problema y la
			situación causante de riesgos y en reconocer e identificar a los alumnos y grupos de
			alto riesgo. Por lo anterior, la escuela trabaja en la prevención temprana de conductas
			de riesgo de niños y niñas a través de charlas de competencias parentales y
			triangulando el trabajo colaborativo entre el profesor, familia y niño o niña, entre otras
			acciones.
			En respuesta al esfuerzo de la prevención, el establecimiento cuenta con la
			Certificación Inicial y Nacional, en prevención de consumo de Drogas y Alcohol y se
			aplica el Proyecto de Prevención de Drogas y Alcohol “Chile Previene escuela”,
			SENDA.
			<p>
				<h5>Ámbito Integración Curricular y Competencias Preventivas.</h5>
				<ul>
					<li>
						Existe un programa de prevención en consumo de drogas y alcohol, dirigido a
						estudiantes y familia. Talleres Polideportivos, Recreativos, Artísticos y literarios
						dentro de la malla curricular. 
						Proyecto Educativo Institucional Escuela de Colonia Alfalfares
						15
					</li>
					<li>
						Capacitación Directivo, Docentes y Apoderados.
						Ámbito Gestión Escolar.
					</li>
					<li>
						Estrategia diseñada y difundida a la comunidad escolar.
					</li>
					<li>
						Directivo promueve incentivos y reconocimientos.
						Ámbito Involucramiento Escolar.
					</li>
					<li>
						El establecimiento cuenta con apoyo de programas específicos para el
						mejoramiento de los aprendizajes de los estudiantes que poseen barreras
						educativas. (PIE).
					</li>	
				</ul>
			</p>
		</p>
			
		<div>
			Ámbito Vínculo Con el Medio.
			El establecimiento tiene conocimiento y contacto con las redes locales de
			prevención y seguridad.
			El Colegio tiene dentro de la malla curricular talleres deportivos, Artísticos,
			recreativos. Por otro lado, promueve la alimentación saludable, a través de
			publicaciones y difusiones estratégicas y la implementación del saludable luego del
			proceso de licitación.
			En la Política de Transversalidad, el establecimiento le da mayor relevancia al
			Eje Temático Educación para la Salud.
			<br>
			<b>SELLO:</b>
			Preventivo integral
			<br>
			<b>VALORES:</b>
			Siendo los niños y niñas principales protagonistas en su formación de hábitos y
			actitudes sociales para incorporarse a esta sociedad tan versátil en la que les
			corresponde vivir, el colegio promueve importantes valores y principios, teniendo
			presente que todos los valores son transversales en el currículum y en la misión
			institucional por lo que se propone enfatizar en los siguientes valores:
			<ul>
				<li>
					<b>RESPONSABILIDAD:</b> Que se manifiesta en el amor al estudio y al trabajo.
					Proyecto Educativo Institucional Escuela de Colonia Alfalfares
					16
				</li>
				<li>
					<b>RESPETO:</b> Traducido en la aceptación y aprecio hacia los demás, con sus
					virtudes y defectos.
				</li>
				<li>
					<b>SOLIDARIDAD:</b> Se debe brindar apoyo a los demás y compartir
					generosamente lo que tenemos.
				</li>
			</ul>
			<h5>PRINCIPIOS:</h5>
			<ul>
				<li>
					<b>UNIVERSALIDAD Y EDUCACIÓN PERMANTE:</b> Educación debe estar al
					alcance de todas las personas a lo largo de toda la vida.
				</li>
				<li>
					<b>CALIDAD DE LA EDUCACIÓN: </b>La educación debe propender a que todos los
					alumnos, independiente de sus condiciones y circunstancias, alcancen los
					estándares que se definan en la forma que establezca la ley.
				</li>
				<li>
					<b>EQUIDAD DEL SISTEMA EDUCATIVO: </b>El sistema propenderá a la integración
					e inclusión de todos los sectores de la sociedad requieren de protección especial.
				</li>
				<li>
					<b>PARTICIPACIÓN:</b> Involucramiento en todas las actividades y acciones de bien
					común. Opinando, aportando ideas, comprometiéndose en diversas situaciones.
					Los miembros de la Comunidad Educativa tienen derecho a ser considerados en
					el proceso educativo y en la toma de decisiones. 
				</li>
			</ul>
		</div>
	</div>
</Layout>
