---
import Slider from '../components/Slider.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout
title="Contacto"
description="Información del contacto de la institución"
pubDate={new Date('May 5 2025')}
>
<div class="" >
    <img src="/colegio-contacto.jpg" alt="colegio-contacto">
</div>
</Layout>