---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Escuela de Colonia Alfalfares</h1>
			<img src="/colegio-1.jpg" class="" alt="colegio-1">
			<div style="text-align: justify;">
				<p>
					El aprendizaje y desarrollo integral de los niños y niñas de la Escuela de Colonia
					Alfalfares es un constante trabajo de enseñanza –aprendizaje que el establecimiento
					educacional realiza junto a las familias y la comunidad, como parte del proceso de
					mejora continua para lograr potenciar al máximo las capacidades de los educandos y
					garantizar el derecho inherente a todo niño y niña a una educación de calidad.
				</p>
				<p>
					El presente Proyecto Educativo Institucional pone en conocimiento sus
					directrices institucionales, los propósitos y sus fundamentos, intereses educativos y
					estratégicas pedagógicas para el desarrollo y enseñanza de más de 100 alumnos, con
					sus pretensiones de logro de las materias descritas como referente en las Bases
					Curriculares de la Educación Parvularia y Enseñanza Básica. 
				</p>
				<p>
					Para la realización de este plan se abrieron canales de comunicación efectivas
					y espacios de participación de todos los estamentos de la comunidad educativa, por
					tanto, se incluye al equipo directivo, docentes, asistentes de la educación, Consejo
					Escolar y representantes del Centro General de Padres y Apoderados, cuya
					participación fue a través de encuestas de opiniones, lluvia de ideas, mesa redonda y
					análisis del PEI previo, contemplando de forma metódica las distintas etapas de
					elaboración, desarrollo y evaluación. Del cual finalmente tendrá una duración de 4
					años: 2019-2022, con su respectivo monitoreo y evaluación. 
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
