---
import ImageLink from './ImageLink.astro';
---
<div class="header-banner">
    <div class="visibility"></div>
    <div class="overlay">
        <h1 class="text-overlay">Escuela de Colonia Alfalfares</h1>
        <img class="" src="https://imagenes.escuelaalfalfares.cl/logo-colegio.png" alt="logo colegio escuela alfalfares | escuela de colonia alfalfares" />
    </div>
    <ImageLink class="imagen-banner" src="https://imagenes.escuelaalfalfares.cl/colegio-2.webp" alt="imagen escuela alfalfares 3 | escuela de colonia alfalfares"/>
    <ImageLink class="imagen-banner" src="https://imagenes.escuelaalfalfares.cl/colegio-3.webp" alt="imagen escuela alfalfares 3 | escuela de colonia alfalfares"/>
    <ImageLink class="imagen-banner" src="https://imagenes.escuelaalfalfares.cl/colegio-1.webp" alt="imagen escuela alfalfares 3 | escuela de colonia alfalfares"/>
</div>